MetalFXSamples/MetalFXSamples/Assets.xcassets/texture-albedo.textureset/Universal.mipmapset/tex2-albedo.png filter=lfs diff=lfs merge=lfs -text
MetalFXSamples/MetalFXSamples/Assets.xcassets/texture-normal.textureset/Universal.mipmapset/tex2-normals2.png filter=lfs diff=lfs merge=lfs -text
MetalFXSamples/MetalFXSamples/Assets.xcassets/texture-roughness.textureset/Universal.mipmapset/tex2-roughness.png filter=lfs diff=lfs merge=lfs -text
